.js-hidden {
    display: none !important;
}

.olr {
    outline: 1px solid red;
}

.olg {
    outline: 1px solid green;
}

.olb {
    outline: 1px solid blue;
}

[data-component="timer"] {
    border: 1px solid #a4abf6;
    border-radius: 4px;
    margin: 10px auto;
    padding: 3px;
}

[data-component="best-result"] {
    border: 1px solid #a4abf6;
    border-radius: 4px;
    margin: 10px auto;
    padding: 3px;
}

[data-component="game"] {
    border: 10px solid #a4abf6;
    border-radius: 4px;
    margin: 0 auto 10px;
}

[data-component="alert"] {
    margin: 0 auto 10px;
}

[data-component="new-game"] {
    margin: 0 auto 10px;
}

[data-component="game"] .game-field__cell {
    border: 1px solid #a4abf6;
    background-color: #dfdff7;
    float: left;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

[data-component="game"] .game-field__cell.open {
    background-color: #fff;
}

[data-component="game"] .game-field__cell.mistake {
    background-color: #ffbcba;
}
