<div>Best result:
    <span class="label label-info">{{seconds.easy}}</span>
    <span class="label label-warning">{{seconds.normal}}</span>
    <span class="label label-danger">{{seconds.hard}}</span>
</div>
