<div class="panel panel-info">
    <div class="panel-heading">Best results</div>
    <div class="panel-body">
        <div>
            <div class="pull-left">
                <span>Easy</span>
            </div>
            <div class="pull-right">
                <span class="label label-info">{{seconds.easy}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <div class="pull-left">
                <span>Normal</span>
            </div>
            <div class="pull-right">
                <span class="label label-warning">{{seconds.normal}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <div class="pull-left">
                <span>Hard</span>
            </div>
            <div class="pull-right">
                <span class="label label-danger">{{seconds.hard}}</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
